


.head{
    justify-content: center;
    justify-items: center;
    display: flex !important;
}

#background{
    /* background-color: #47555e; */
    /* The image used */
    background-image: url("../web/cool-background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slides{
    display: flex;
    padding: 0px;
}
p{
    padding-right: 10px;

}
.p1{
    padding-left: 10px;
}
